{
  "cache": false,
  "check-coverage": false,
  "extends": "@istanbuljs/nyc-config-typescript",
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    ".base-frame-tmp/**",
    ".idea/**",
    "lib/**",
    "node_modules/**",
    "resource/**",
    "**/*.d.ts",
    "**/*.test.ts",
    "src/test/**/*.ts"
  ],
  "sourceMap": true,
  "reporter": [
    "html",
    "text",
    "text-summary"
  ],
  "all": true,
  "instrument": true
}
